p{
    color: #E2E8F0;
}
h1{
    color: #38BDF8;
}
h2{
    color: #F9DF74;
}
body{
    background-color: #0F172A;
    /* background-color: #3570AC; */
    text-align: center;
}
div{
    background-color: #1E293B;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}
body{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: JetBrains Mono;
}
img{
    margin: auto;
}
footer{
    color: #E2E8F0;
    margin-top: 20px;
    padding: 10px 0 0 0;
    border-top: #334155 1px solid;
    font-family: 'Times New Roman', Times, serif;
}
